#suggestion1, #suggestion2, #suggestion3 {
  display: block;
  font-family: 'Franklin Gothic Medium';
  font-size: x-large;
  background: rgb(207, 201, 201); 
}

body {
  font-family: serif;
  background-image: url('../images/background.jpg');
  padding: 10%;
  
}

h1 {
  margin: 10%;
  text-align: center;
  color: rgb(44, 23, 23);
  font-weight: bold;
}

#suggestion-form {
  font-weight: bold;
  font-size: large;
}

.user_name {
  font-style: italic;
}

div > p {
  padding: 2%;
}

.text-center {
 font-size: medium;
}